.p-articles-popular {
    margin-top: clamp(60px, 6vw, 120px);
    margin-bottom: clamp(60px, 6vw, 120px);
}

.p-articles-popular .top {
    display: flex;
    align-items: center;
    gap: clamp(20px, 2.5vw, 40px);
    flex-wrap: wrap;
    margin-bottom: clamp(30px, 3vw, 60px);
}

.p-articles-popular .top select {
    border-radius: 8px;
    padding: 8px 28px;
    max-width: 180px;
    background: #ecf3f6;
    outline: none;
    border: none;
}

.p-articles-popular .top .navigation {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.p-articles-popular .top .navigation .nav-btn {
    cursor: pointer;
    transition: .3s ease;
}

@media(any-hover: hover) {
    .p-articles-popular .top .navigation .nav-btn:hover {
        opacity: .7;
    }
}

.p-articles-popular .item {
    border-radius: 16px;
    padding: 8px;
    background: #ecf3f6;
    display: grid;
    grid-template-columns: 335px 1fr;
    gap: 10px;
}

@media(max-width: 1200px) {
    .p-articles-popular .item { 
        grid-template-columns: 1fr;
    } 
}

.p-articles-popular .item .lside {
    height: 100%;
}

.p-articles-popular .item .lside img {
    height: 100%;
    border-radius: 8px;
}

@media(max-width: 1200px) {
    .p-articles-popular .item .lside img {
        width: 100%;
        height: 300px;
    }
}

.p-articles-popular .item .rside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 5px;
}

.p-articles-popular .item .actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.p-articles-popular .item {
    position: relative;
}

.p-articles-popular .item .link {
    position: absolute;
    inset: 0;
    z-index: 2;
}

.p-articles-popular .item .actions span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #404040;
}

.p-articles-popular .item .title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(18px, 2vw, 20px);
    color: #404040;
}

.p-articles-popular .item .desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(14px, 1.5vw, 16px);
    color: #404040;
}
