.p-cb {
    margin-top: clamp(60px, 6vw, 120px);
    margin-bottom: clamp(80px, 6vw, 120px);
}

.p-cb-wrapper {
    border-radius: 16px;
    padding: 40px 60px; 
    background: #5bb521;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

@media(max-width: 1024px) {
    .p-cb-wrapper {
        padding: 20px 15px;
        flex-direction: column;
    }
} 

.p-cb .lside {
    max-width: 415px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.p-cb .title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(24px, 3vw, 32px);
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
}

.p-cb .desc {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(16px, 2vw, 20px);
    color: #fff;
}

.p-cb .rside {
    border-radius: 8px;
    padding: 40px 20px;
    background: rgba(255, 255, 255, 0.1);
    max-width: 620px;
    width: 100%;
}

@media(max-width: 1024px) {
    .p-cb .rside {
        padding: 20px 10px;
    }
}

.p-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.p-form-row input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    padding: 0px 10px 11px 10px;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
}

.p-form-row input::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.p-form-bottom {
    margin-top: 20px;
}

.p-form-bottom .policy{
    position: relative;
    margin-bottom: 10px;
    
}

.p-form-bottom .policy input {
    position: absolute;
    inset: 0;
    opacity: 0;
    appearance: none;
    -webkit-appearance: none;
    z-index: 3;
    cursor: pointer;
}

.p-form-bottom .policy span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    padding-left: 24px;
}

.p-form-bottom .policy span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 3px;
    transition: .3s ease;
    background: transparent;
}

.p-form-bottom .policy input:checked +  span:before {
    background: url('../../images/checked.svg') center / cover no-repeat;
    border-color: transparent;
}

.p-cb .p-form-btn {
    width: 100%;
    background: #2c679f;
}